// タイトル部分
.title {
  background-color: #28cc95;
  width: 100%;
  height: 680px;
  // border-radius: 5px;
  // position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.title-content {
  padding-top: 20%;
  padding-left: 50px;
  left: 38%;
  // position: absolute;
  color: white;
  text-align: center;
  // font-size: 12vh;
  font-family: serif;
  text-transform: uppercase;
  letter-spacing: -2px;
  // text-transform: uppercase;
}

.title-content span {
  font-size: 150px;
  line-height: 80px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;
}

.top-botton {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: flex-start;
}

.login {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  line-height: 32px;
  margin-right: 3vw;
  color: #212221;
}

.login::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: tramsform .3s;
}

.login:hover::after {
  transform: scale(1, 1);
}

.sign-up {
  position: relative;
  text-decoration: none;
  font-size: 17px;
  font-family: serif;
  line-height: 32px;
  margin-right: 3vw;
  color: #212221;
}

.sign-up::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: tramsform .3s;
}

.sign-up:hover::after {
  transform: scale(1, 1);
}

.user-name {
  position: relative;
  text-decoration: none;
  font-size: 23px;
  font-family: serif;
  line-height: 32px;
  margin-right: 3vw;
  color: #212221;
}

.user-name::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: tramsform .3s;
}

.user-name:hover::after {
  transform: scale(1, 1);
}

.new-article {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  line-height: 32px;
  margin-right: 2vw;
  color: #212221;
}

.new-article::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: tramsform .3s;
}

.new-article:hover::after {
  transform: scale(1, 1);
}

.logout {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  line-height: 32px;
  margin-right: 2vw;
  color: #212221;
}

.logout::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: tramsform .3s;
}

.logout:hover::after {
  transform: scale(1, 1);
}
// タイトル部分 //

// セカンドタイトル
.second {
  display: flex;
  justify-content: center;
  padding-top: 40%;
  padding-bottom: 30%;
}

.second p {
  font-size: 12vh;
  font-family: serif;
  text-transform: uppercase;
  // text-align: center;
  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
}

.second .second-title {
  width: 0;
  animation: type 1.6s steps(14, end) 1500ms infinite alternate,
             inputcursor 0.7s steps(16) infinite normal;
}

@keyframes type {
  to {
    width: 750px;
  }
}

@keyframes inputcursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}
// セカンドタイトル //

// 記事一覧表示

.article {
  font-family: serif;
  padding-bottom: 20px;
  text-align: center;
}

.main {
  margin-left: 35px;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  display: inline-flex;
  flex-direction: column;
}

.main>.list {
  width: 37vh;
  padding: 1vw;
}

.article-img {
  width: 30vh;
  height: 30vh;
}

.article-index-name {
  text-decoration: none;
  text-align: center;
  color: #212221;
  font-size: 20px;
  font-family: serif;
}

// アニメーション要素のスタイル
.animation {
  opacity: 0;
  visibility: hidden;
  transition: 5s;
  transform: translateY(30px);
}

// アニメーション要素までスクロールした時のスタイル
.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

// 記事一覧表示 //


// 新規登録・ログイン・新規投稿・編集ボタン

.action {
  font-family: serif;
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -10px;
  width: 130px;
  // height: 40px;
  text-align: center;
}

.main-btn {
  outline: none;
  height: 40px;
  width: 130px;
  text-align: center;
  border-radius: 40px;
  background-color: #fff;
  border: 2px solid #016a1f;
  color: #016a1f;
  letter-spacing: 1px;
  text-shadow: 0;
  font-family: serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: white;
    background-color: #016a1f;
  }
  &:active {
    letter-spacing: 2px;
  }
}

.actions {
  text-align: center;
  margin-top: 20px;
}

// Return（削除）ボタン
.sub-btn {
  padding: 13px;
  text-decoration: none !important;
  outline: none;
  height: 40px;
  width: 130px;
  text-align: center;
  border-radius: 40px;
  background-color: #fff;
  border: 2px solid #016a1f;
  color: #016a1f;
  letter-spacing: 1px;
  text-shadow: 0;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: white;
    background-color: #016a1f;
  }
  &:active {
    letter-spacing: 2px;
  }
}

// Return（戻る）ボタン
.return-btn {
  padding: 10px 17px;
  text-decoration: none !important;
  outline: none;
  height: 40px;
  width: 130px;
  text-align: center;
  border-radius: 40px;
  background-color: #fff;
  border: 2px solid #016a1f;
  color: #016a1f;
  letter-spacing: 1px;
  text-shadow: 0;
  font-family: serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: white;
    background-color: #016a1f;
  }
  &:active {
    letter-spacing: 2px;
  }
}

// フッダー部分
.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}