.title {
  background-color: #28cc95;
  width: 100vw;
  height: 200px;
}

.title-content {
  text-align: center;
  font-size: 12vh;
  font-family: serif;
}

.top-botton {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: flex-start;
}

.login {
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  line-height: 32px;
  margin-right: 3vw;
  color: #212221;
}

.sign-up {
  text-decoration: none;
  font-size: 17px;
  font-family: serif;
  line-height: 32px;
  margin-right: 3vw;
  color: #212221;
}

.new-article {
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  line-height: 32px;
  margin-right: 2vw;
  color: #212221;
}

.main {
  /* width: 100vw; */
  padding: 30px;
  margin: 20px 20vw;
  /* justify-content: center; */
}

.list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  /* padding: 1vw; */
  padding: 10px;
}

/* .article-img-content {
} */

.article-img {
  width: 30vh;
  height: 30vh;
}

/* .article-info {
} */

.article-index-name {
  text-decoration: none;
  text-align: center;
  color: #212221;
  font-size: 20px;
  font-family: serif;
}