.article-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.article-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-user-name {
  font-size: 25px;
  font-family: serif;
  text-align: right;
}

.article-name {
  font-size: 35px;
  font-family: serif;
}

/* .article-img-content {
} */

.article-box-img {
  height: 70vh;
  width: 40vw;
}

.article-box-explain {
  font-family: serif;
  font-size: 25px;
  color: #212221;
  margin: 40px 0;
}

.edit-btn {
  position: relative;
  text-decoration: none;
  font-size: 25px;
  font-family: serif;
  line-height: 32px;
  margin-right: 3vw;
  color: #212221;
}

.edit-btn::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: tramsform .3s;
}

.edit-btn:hover::after {
  transform: scale(1, 1);
}

.delete-btn {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  line-height: 32px;
  margin-right: 2vw;
  color: #212221;
}

.delete-btn::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: tramsform .3s;
}

.delete-btn:hover::after {
  transform: scale(1, 1);
}

.article-comments {
  font-family: serif;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comment-field {
  padding-bottom: 10px;
}

.comments-lists {
}

.comments-list {
  margin-bottom: 20px;
}

.comment-user {
  text-decoration: none;
  color: #212221;
  margin-left: 20px;
}