.article-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.article-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-user-name {
  font-size: 25px;
  font-family: serif;
  text-align: right;
}

.article-name {
  font-size: 35px;
  font-family: serif;
}

/* .article-img-content {
} */

.article-box-img {
  height: 70vh;
  width: 40vw;
}

.article-box-explain {
  font-family: serif;
  font-size: 25px;
  color: #212221;
  margin: 40px 0;
}

/* .article-box-category {
} */

/* .article-box-text {
} */

.edit-btn {
  text-decoration: none;
  font-size: 25px;
  font-family: serif;
  line-height: 32px;
  margin-right: 3vw;
  color: #212221;
}

.delete-btn {
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  line-height: 32px;
  margin-right: 2vw;
  color: #212221;
}