<div class="article-delete">
  <%# <div class="header-title"> %>
      <%= link_to 'B-blog', root_path, class:"delete-header-text" %>
  <%# </div> %>
  <div class="delete-main">
    <div class="success">
      <div class="delete-text">
        Deletion completed
      </div>
      <div class="actions">
        <%= link_to 'Return Top Page', root_path, class: "sub-btn" %>
      </div>
    </div>
  </div>
</div>