<div class="title">
<ul class="top-botton">
    <li><%= link_to 'ログイン', "#", class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
  </ul>
  <div class="title-content">B-blog</div>
</div>
<div class="article-panel">
</div>