.user-name {
  text-decoration: none;
  font-size: 25px;
  font-family: serif;
  line-height: 32px;
  margin-right: 3vw;
  color: #212221;
}

.logout {
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  line-height: 32px;
  margin-right: 2vw;
  color: #212221;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.login-btn {
  color: #243d0b;
  border: 1px solid #ccc;
  background-color: #cbd1d4;
  border-radius: 4px;
  font-size: 20px;
}